.main-faq{
    width:100%;
}

.preguntas-faq{
    padding:40px
}

.preguntas-faq li{
    font-weight: bold;
    font-size: 17px;
    text-shadow: 2px 2px 10px;
    margin: 20px;
    list-style-type: circle;
    word-spacing:1px;
}

.accordion-button{
    font-weight: bold;
    text-shadow: 2px 2px 10px;
    word-spacing: 1px;
}