.descripcion-servicios{
    text-align: center;
    padding:50px;
    font-size: 18px;
}

.servicios{
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 50px;
}

.primera-consulta{
    margin:50px;
    width:200px;
    padding: 30px;
    border:2px ridge;
    margin: 20px;
    border-radius: 20px;
    background-color: grey;
}

.sesion-individual{
    margin:50px;
    width:200px;
    padding: 30px;
    border:2px ridge;
    margin: 20px;
    border-radius: 20px;
    background-color: grey;
}

.pack{
    margin:50px;
    width:200px;
    padding: 30px;
    border:2px ridge;
    margin: 20px;
    border-radius: 20px;
    background-color: grey;
}